NODE_ENV=development
PORT="PORT_NUMBER_HERE"
FIREBASE_PROJECT_ID="FIREBASE_PROJECT_ID_HERE"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSOME_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL="FIREBASE_CLIENT_EMAIL_HERE"
SWAGGER_SERVER_URL="SWAGGER_SERVER_URL_HERE"
CLOUDFLARE_TUNNEL_TOKEN="CLOUDFLARE_TUNNEL_TOKEN_HERE"